[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shabfactor
[access "refs/for/refs/*"]
	read = group user/shabfactor
	push = group user/shabfactor
	label-Code-Review = -2..+2 group user/shabfactor
	label-Verified = -1..+1 group user/shabfactor
	rebase = group user/shabfactor
	removeReviewer = group user/shabfactor
	submit = group user/shabfactor
[access "refs/heads/*"]
	read = group user/shabfactor
	create = group user/shabfactor
	push = +force group user/shabfactor
	pushMerge = group user/shabfactor
[access "refs/tags/*"]
	push = +force group user/shabfactor
	pushTag = group user/shabfactor
	pushSignedTag = group user/shabfactor
